body {
	/**background-image: url(../images/bg.jpg);**/
	background-color: black;
}

#video_container {
	position: absolute;
	width: 600px;
	height: 360px;

	left: 50%;
	margin-left: 50px;
	top: 50%;
	margin-top: -180px;
}

#btapp_code {
	position: absolute;
	width: 600px;
	height: 360px;

	right: 50%;
	margin-right: 50px;
	top: 50%;
	margin-top: -180px;
}

#btapp_code .prettyprint {
}